extends layout 

block content
  
  include navbar.jade 

  .w3-container
    .w3-row
        .w3-half
            h1= title 
        .w3-half
            a.w3-right.w3-btn.w3-round-large.w3-teal(href='/users/editarPerfil' style='margin-top: 15px;') Editar perfil

    .w3-container
        if user.nivel == 'admin'
            p 
                b Administrador
        else if user.nivel == 'produtor'
            p 
                b Produtor
        else 
            p 
                b Consumidor 

        if recursos.length > 0
            if user.nivel == 'produtor' || user.nivel == 'admin'
                p Recursos submetidos:
            else 
                p Recursos transferidos:
            .w3-container(style='margin-top: 35px;')
                table.w3-text-black.w3-table-all.w3-hoverable.w3-centered.w3-large(style='margin-bottom: 50px;')
                    tr
                        th Produtor
                        th Submissor
                        th Título 
                        th Tipo de conteúdo
                    each r in recursos
                        tr(data-href="http://localhost:3001/recursos?id=" + r._id)
                            td= r.idProdutor
                            td= r.idSubmissor
                            td= r.titulo 
                            td= r.tipo
                            td 
                                a.w3-btn.w3-round-large.w3-teal(href='/recursos/editar/' + r._id class="fas fa-pen")
                            td
                                a.w3-btn.w3-round-large.w3-red(href='/recursos/eliminar/' + r._id class="fas fa-trash")
                            
        else if user.nivel == 'produtor' || user.nivel == 'admin'
            p Não há recursos submetidos por este utilizador...
        else if user.nivel == 'consumidor' && recursos.length > 0
            p Não há recursos transferidos por este utilizador...

  script. 
    document.addEventListener("DOMContentLoaded", () => {
      const rows = document.querySelectorAll("tr[data-href]");
      
      rows.forEach(row => {
        console.log(row);
        row.addEventListener("click", () => {
          window.location.href = row.dataset.href;
        });
      });
    });