extends layout 

block content
  include navbar.jade
  .w3-container
    h1.w3-center Listagem dos recursos disponíveis

    if recursos.length > 0
        .w3-container(style='margin-top: 35px;')
                table.w3-text-black.w3-table-all.w3-hoverable.w3-centered.w3-large(style='margin-bottom: 50px;')
                    tr
                        th Data de criação
                        th Data de submissão
                        th Id do Produtor
                        th Id do Submissor
                        th Título 
                        th Tipo de conteúdo
                    each r in recursos
                        tr
                            td= r.dataCriacao
                            td= r.dataSubmissao
                            td= r.idProdutor
                            td= r.idSubmissor
                            td
                                a(href="http://localhost:8001/recursos?id=" + r._id)= r.titulo 
                            td= r.tipo
                            td
                                a.w3-btn.w3-round-large.w3-teal(href="/recursos/editar/" + r._id class="fas fa-pen")
                            td
                                a.w3-btn.w3-round-large.w3-red(href="/recursos/eliminar/" + r._id class="fas fa-trash")
    else 
        p.w3-center Ainda não existe nenhum recurso para apresentar...


  script. 
    document.addEventListener("DOMContentLoaded", () => {
      const rows = document.querySelectorAll("tr[data-href]");
      
      rows.forEach(row => {
        console.log(row);
        row.addEventListener("click", () => {
          window.location.href = row.dataset.href;
        });
      });
    });